<!DOCTYPE html>
<html>
<head>
    <title>Club manager</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head>
<body>
<div class="container">
{% block body %}
{% endblock%}
</div>
</body>
</html>