{% extends 'base.html.twig' %}

{% block body %}
    <h3>New Court</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Create" />
    {{ form_end(form) }}

<a class="btn btn-default" href="{{ path('court_index') }}">Back to the list</a>
{% endblock %}
