{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for draw in draws %}
            <div>
                {{ draw.id }}
            </div>
        {% endfor  %}
    </div>
{% endblock%}