{% extends 'base.html.twig' %}

{% block body %}
<h3>Groups</h3>

    {% for group in groups %}

        <div class="card">
            <div class="card-header">
                <a href="{{ path('group_show', {'id':group.id }) }}">
                    {{ group.name }}
                </a>
            </div>
            <table class="table table-bordered">
                {% for player in group.players %}
                    <tr>
                        <th class="table-info">{{ player.lastname }}</th>
                    </tr>
                {% endfor%}
            </table>
        </div>
        <br>
    {% endfor %}

<a class="btn btn-success" href="{{ path('group_new') }}">Create a new group</a>
{% endblock %}
